<div class="modal-header">
    <h4 class="modal-title">Delete Task</h4>
</div>

<div class="modal-body">
    <p *ngIf='!task'> Task is about to be deleted.
        All related data will be removed .
        Do you confirm ?</p>
    <p *ngIf='task'> Task is about to be deleted.
        Do you confirm ?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-cancel" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-sm btn-alert" (click)="save()">Submit</button>
</div>